<nav class="navbar">
  <%= link_to root_path, class: "logo" do %>
    <span class="logo-icon">N</span><span class="logo-text">odal</span>
  <% end %>

  <div class="nav-links">
    <div class="dropdown-wrapper">
      <%= link_to "Product", "#" %>
      <%= render "shared/sidebar" %>
    </div>
    <%= link_to "Pricing", "#" %>
    <%= link_to "Resources", "#" %>
    <%= link_to "Enterprise", "#" %>
  </div>

  <div class="nav-actions">
    <%= link_to "Log in", "#", class: "nav-login" %>
    <%= link_to "Start free trial", "#", class: "nav-cta" %>
  </div>

  <div class="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
