<!DOCTYPE html>
<html>
  <head>
    <title>Nodal - fast, simple, connected</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Where B2B happens - fast, simple, connected">
    <%= favicon_link_tag %>

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Nodal">
    <meta property="og:description" content="Where B2B happens - fast, simple, connected">
    <meta property="og:image" content="https://www.nodal-seiri.dev/og-image.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.nodal-seiri.dev/">

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Nodal">
    <meta name="twitter:description" content="Where B2B happens - fast, simple, connected">
    <meta name="twitter:image" content="https://www.nodal-seiri.dev/og-image.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <%= render "shared/flashes" %>
  </body>
</html>
